@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

// Set your brand colors
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;

// Update Bulma's global variables
$family-sans-serif: "Lato", sans-serif;
$grey-light: $beige-light;
//$widescreen-enabled: false;
//$fullhd-enabled: false;
$is-light: $grey-light;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;


// Import only what you need from Bulma
@import "../node_modules/bulma/bulma.sass";
